main {
    padding: 30px;
}

.mdl-layout-title {
    color: white;
}

.mdl-layout {
    background-image: url('../img/1024643.jpg');
}

.mdl-textfield__label {
    padding-left: 15px;
    color: yellow;
}

.mdl-textfield__input {
    padding-left: 15px;
    color: white;
}

p {
    color: white;
    margin: 1em;
}

.row {
    display: flex;
  
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 1em; 
}

.col {
    flex-grow: 1;
    flex-basis: auto;
    margin-right: 10px;
}

.mdl-logo {
    font-size: 10px;
}

footer {
    padding-left: 30px;
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 7vh;      
}

footer p {
    font-size: 10px;
    text-overflow: initial;
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .mdl-layout-title {
        font-size: 30px;
    }
}

@media (max-width: 767px) {
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    } 
    footer {
        padding-bottom: 1em;
        height: 10vh;
    }
}
   
@media (max-height: 400px) {
    footer {
        position: inherit;     
    }   
}